<div>
  <h1>
    詳細画面
  </h1>
  <div>
    <label>
      title: 
    </label>
    <span>
      <%= @question.title %>
    </span>
  </div>
  <div>
    <label>
      name: 
    </label>
    <span>
      <%= @question.name %>
    </span>
  </div>
  <div>
    <label>
      content: 
    </label>
    <span>
      <%= @question.content %>
    </span>
  </div>
</div>